* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(53, 53, 53);
  min-height: 100vh;
  font-family: "Chakra Petch", sans-serif, Arial;
}
ul,
nav {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Header */

.Header {
  justify-content: space-between;
  padding: 1.5rem 4rem;
  background-color: rgb(37, 37, 37);
}
.Header img {
  width: 90px;
}
.Header a {
  color: #fff;
}
.Header,
.Header nav {
  display: flex;
  align-items: center;
}
.Header nav a {
  font-weight: 600;
}
.Header nav a.active {
  color: rgb(143, 142, 139);
}
.Header nav > * + * {
  margin-left: 2rem;
}

/* Home */

.Home {
  display: flex;
  flex-direction: column;
}
.home_img {
  flex: 1;
  position: relative;
}
.home_img img {
  width: 100%;
  height: 100vh;
  filter: brightness(40%);
  object-fit: cover;
}
.home_img h1 {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

/* Planets And Films*/

.planets_content,
.films_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 5rem 6rem;
}
.planet,
.film {
  background-color: rgb(37, 37, 37);
  padding: 2rem;
  border-radius: 20px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-shadow: inset 5px 5px 10px rgb(45, 45, 45), inset -5px -5px 10px rgb(37, 37, 37);
}
.planet h1,
.film h1 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.planet p,
.film p {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-top: 1rem;
}
.film button {
  background-color: #fff;
  margin-top: 1rem;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
  min-width: 70% !important;
  border-radius: 20px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid gray;
}

/* Popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9;
  display: none;
  overflow: auto;
}
.popup.active {
  display: block;
}
.close_icon {
  background-color: #fff;
  display: flex;
  width: 40px;
  position: absolute;
  top: 18px;
  right: 18px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.close_icon img {
  width: 60%;
}
.parent_loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgb(37, 37, 37, 0.9);;
  padding: 20px 50px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

@media screen and (max-width: 995px) {
  .planets_content,
  .films_content {
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 595px) {
  .planets_content,
  .films_content {
    grid-template-columns: 1fr;
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 565px) {
  .home_img h1 {
    width: 90%;
    line-height: 40px;
    font-size: 25px;
  }
  .Header {
    padding: 1.5rem 1rem;
  }
  .Header nav > * + * {
    margin-left: 0.7rem;
  }
}